html {
   font-family: Arial, sans-serif;

   background-color: #111;
   color: #eee;
}

.cont {
   width: 100%;
   max-width: 1400px;
   margin-inline: auto;
}

.p {
   font-size: 2rem;
   font-family: serif;
}